body{
	font-family:arial;
	font-size:12px;
	color:#1e5474;
	background:#F7F7F7;
	margin:0px;
}

#container {
    width: 1100px;
    height: auto;
    margin: 0px auto;
    padding: 10px;
}

#container #header {
    margin-top: 20px;
}

#container #header #menu {
    background: #1e5474;
    padding: 5px 10px;
    overflow: hidden;
}

#container #header #menu #user {
    float: left;
    color: white;
}

#container #header #menu #user a {
    color: white;
    padding-right: 5px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
}

#container #header #menu #button-keranjang {
    float: right;
    background: orange;
    padding: 2px 10px;
    border-radius: 3px;
    text-decoration: none;
}

#container #header #menu #button-keranjang img {
    vertical-align: bottom;
}

#container #footer {
    background: #1e5475;
    padding: 10px;
}

#container #footer p {
    color: white;
    text-align: right;
    font-size: 10px;
    font-style: italic;
    margin: 0px;
}

#container #content {
    padding: 10px 0px;
    overflow: hidden;
}

#container-user-akses {
    width: 350px;
    height: auto;
    margin: 50px auto;
}

.element-form {
    margin-bottom: 15px;
}

.element-form label {
    display: block;
    font-weight: bold;
}

.element-form span {
    display: block;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea,
.element-form span select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.element-form span input[type="submit"] {
    background: #1e5474;
    border: none;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    font-size: 9px;
    cursor: pointer;
}

.element-form span input[type="submit"]:hover{
	background:orange;
}

.notif {
    background: #1e5474;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 11px;
}

#bg-page-profile {
    overflow: hidden;
}

#menu-profile {
    float: left;
    width: 245px;
    background: #17a2b8;
}

#menu-profile ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#menu-profile ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

#menu-profile ul li a:hover,
#menu-profile ul li a.active {
	background:#212529;
}

#profile-content {
    float: left;
    width: 835px;
    padding: 10px;
    background: white;
}

.table-list {
    width: 100%;
    border-collapse: collapse;
}

.table-list tr {
    border-bottom: 1px solid #1e5474;
}

.table-list tr.baris-title {
    background: #E6E6E6;
}

.table-list tr th,
.table-list tr td  {
    padding: 10px 7px;
}

.kolom-nomor {
    width: 20px;
    text-align: center;
}

.tengah {
    text-align: center;
}

.kiri {
    text-align: left;
}

.kanan {
    text-align: right;
}

#frame-tambah {
    margin-bottom: 10px;
    text-align: right;
}

.tombol-action {
    background: #1e5474;
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 3px;
    font-size: 9px;
}

.tombol-action:hover {
	background:orange;
}

#kiri {
    width: 245px;
    height: auto;
    float: left;
}

#menu-kategori ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu-kategori ul li {
    margin-bottom: 5px;
}

#menu-kategori ul li a {
    display: block;
    padding: 10px;
    background: white;
    color: #1e5474;
    text-decoration: none;
}

#menu-kategori ul li a:hover,
#menu-kategori ul li a.active {
	background:#e8e8e8;
}

#kanan {
    width: 840px;
    margin-left: 15px;
    height: auto;
    float: left;
}

#kanan #frame-barang ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#kanan #frame-barang ul li {
    width: 240px;
    background: white;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
}

#kanan #frame-barang ul li .price {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
}

#kanan #frame-barang ul li a img {
    display: block;
    width: 240px;
}

#kanan #frame-barang ul li .keterangan-gambar {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0px;
    height: 95px;
}

#kanan #frame-barang ul li .keterangan-gambar p {
    text-align: center;
    margin: 5px 0px;
}

#kanan #frame-barang ul li .keterangan-gambar p a {
    font-weight: bold;
    text-decoration: none;
}

#kanan #frame-barang ul li .keterangan-gambar span {
    display: block;
    text-align: center;
}

#kanan #frame-barang ul li .button-add-cart {
    text-align: center;
}

#kanan #frame-barang ul li .button-add-cart a {
    background: #1e5474;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 3px;
}

#kanan #frame-barang ul li .button-add-cart a:hover {
    background:orange;
}

#detail-barang {
    background: white;
    padding: 15px;
}

#detail-barang h2 {
    margin-top: 0px;
}

#detail-barang #frame-gambar {
    background: #FBFBFB;
    padding: 20px;
}

#detail-barang #frame-gambar img {
    display: block;
    margin: 0px auto;
}

#detail-barang #frame-harga {
    margin: 15px 0px;
}

#detail-barang #frame-harga span {
    font-size: 15px;
    font-weight: bold;
    color: red;
}

#detail-barang #frame-harga a {
    background: #1e5474;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    float: right;
    border-radius: 3px;
}

#detail-barang #frame-harga a:hover {
    background:orange;
}

#detail-barang #keterangan {
    margin: 20px 0px;
}

.total-barang {
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    vertical-align: top;
}

.update-quantity {
    width: 30px;
    text-align: center;
}

.kanan.hapus_item {
    position: relative;
}

.kanan.hapus_item a {
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: #1e5474;
}

.kanan.hapus_item a:hover {
    color:orange;
}

#frame-button-keranjang a {
    background: #1e5474;
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    display: inline-block;
    margin-top: 15px;
}

#lanjut-belanja {
    float: left;
}

#lanjut-pemesanan {
    float: right;
}

#frame-data-pengiriman {
    float: left;
    width: 500px;
    margin-right: 20px;
    margin-left: 10px;
}

#frame-data-detail {
    float: left;
    width: 560px;
}

#frame-detail-order {
    border: 1px solid grey;
}

#frame-form-pengiriman {
    border: 1px solid grey;
    padding: 25px;
}

h3.label-data-pengiriman {
    border: 1px solid grey;
    padding: 10px 7px;
    margin: 0px;
}

/* img hover card */
.inner{
    overflow: hidden;
}
 
.inner img{
    transition: all 1.5s ease;
}
 
.inner:hover img{
    transform: scale(1.5);
}